/*
  Generic: Reset
  ---
  Custom reset
*/

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  Elements: Fonts
  ---
  Font-face declarations
*/

@font-face {
    font-family: 'Allrounder Grotesk web';
    src: url('../fonts/AllrounderGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/AllrounderGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Allrounder Grotesk web';
    src: url('../fonts/AllrounderGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/AllrounderGrotesk-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik web';
    src: url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik web';
    src: url('../fonts/Graphik-Semibold-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Semibold-Web.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik web';
    src: url('../fonts/Graphik-Bold-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Bold-Web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Tiempos Headline web';
    src: url('../fonts/TiemposHeadlineWeb-Semibold.woff2') format('woff2'),
    url('../fonts/TiemposHeadlineWeb-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Tiempos Headline web';
    src: url('../fonts/TiemposHeadlineWeb-Bold.woff2') format('woff2'),
    url('../fonts/TiemposHeadlineWeb-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Tiempos web';
    src: url('../fonts/TiemposTextWeb-Regular.woff2') format('woff2'),
    url('../fonts/TiemposTextWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Tiempos web';
    src: url('../fonts/TiemposTextWeb-RegularItalic.woff2') format('woff2'),
    url('../fonts/TiemposTextWeb-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Tiempos web';
    src: url('../fonts/TiemposTextWeb-Semibold.woff2') format('woff2'),
    url('../fonts/TiemposTextWeb-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Azeret Mono web';
    src: url('../fonts/AzeretMono-Regular-1.woff2') format('woff2'),
    url('../fonts/AzeretMono-Regular-1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Suisse Intl Mono web';
    src: url('../fonts/SuisseIntlMono-Regular-WebXL.woff2') format('woff2'),
    url('../fonts/SuisseIntlMono-Regular-WebXL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'IA Writer Mono web';
    src: url('../fonts/iAWriterMonoS-Regular.woff2') format('woff2'),
    url('../fonts/iAWriterMonoS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'IA Writer Mono web';
    src: url('../fonts/iAWriterMonoS-Italic.woff2') format('woff2'),
    url('../fonts/iAWriterMonoS-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'IA Writer Duo web';
    src: url('../fonts/iAWriterDuoS-Regular.woff2') format('woff2'),
    url('../fonts/iAWriterDuoS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'IA Writer Duo web';
    src: url('../fonts/iAWriterDuoS-Italic.woff2') format('woff2'),
    url('../fonts/iAWriterDuoS-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Lab Mono web';
    src: url('../fonts/labmono-regular-web.woff2') format('woff2'),
    url('../fonts/labmono-regular-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Atlas Typewriter web';
    src: url('../fonts/AtlasTypewriter-Regular-Web.woff2') format('woff2'),
    url('../fonts/AtlasTypewriter-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Silka Mono web';
    src: url('../fonts/silkamono-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

/*
  Elements: Theme
  ---
  Global variable declarations
*/

:root {
  /* Colors */

  --global-color-primary-hue: 245deg;
  --global-color-primary-saturation: 80%;
  --global-color-primary-lightness: 60%;
  --global-color-primary-hsl: var(--global-color-primary-hue), var(--global-color-primary-saturation), var(--global-color-primary-lightness);
  --global-color-primary: hsl(var(--global-color-primary-hsl));    

  --global-neutral-hue: var(--global-color-primary-hue);
  --global-neutral-saturation: 3%;

  --global-color-neutral-100: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 97%);
  --global-color-neutral-200: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 93%);
  --global-color-neutral-300: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 87%);
  --global-color-neutral-400: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 65%);
  --global-color-neutral-500: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 45.5%);
  --global-color-neutral-600: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 35%);
  --global-color-neutral-700: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 20%);
  --global-color-neutral-800: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 15%);
  --global-color-neutral-900: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 10%);

  --global-backgroundColor: var(--global-color-neutral-100);
  --global-surfaceColor: white;
  --global-heading-color: var(--global-color-neutral-900);
  --global-meta-color: var(--global-color-neutral-500);
  --global-border-color: var(--global-color-neutral-300);
  --global-border-color-hard: var(--global-color-neutral-400);
  --global-text-color: var(--global-heading-color);
  --global-link-color: var(--global-text-color);
  /* --global-link-color: var(--global-color-primary); */
  --global-link-decoration-color: var(--global-meta-color);
  --global-link-hover-color: var(--global-meta-color);
  --global-selection-backgroundColor: var(--global-text-color);
  --global-selection-color: var(--global-backgroundColor);
  --global-scrollbar-thumb-color: var(--global-meta-color);
  --global-scrollbar-track-color: var(--global-backgroundColor);

  /* border stuff */

  --global-border-radius-1: var(--global-whitespace-1);
  --global-border-radius-2: var(--global-whitespace-2);

  /* Typography */

  /* --global-sans-fontFamily: "Allrounder Grotesk web", sans-serif; */
  --global-sans-fontFamily: "Graphik web", sans-serif;
  /* --global-sans-fontFamily: "Inter", sans-serif; */
  /* --global-sans-fontFamily: "DM Sans", sans-serif; */
  --global-serif-fontFamily: "Tiempos web", serif;
  /* --global-fontFamily: var(--global-serif-fontFamily); */
  --global-fontFamily: var(--global-sans-fontFamily);
  /* --global-fontFamily: ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  --global-heading-fontFamily: "Tiempos Headline web", serif;  
  --global-code-fontFamily: "IA Writer Duo web", SFMono-Regular, 'Roboto Mono', Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
  'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  /* --global-code-fontFamily: "Lab Mono web", SFMono-Regular, 'Roboto Mono', Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
  'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */
  /* --global-code-fontFamily: SFMono-Regular, 'Roboto Mono', Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
  'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */
  --global-heading-fontWeight: 600;

  
  --global-scale-ratio: 1.3;
  --global-px-fontSize: 16;
  --global-root-fontSize: calc(var(--global-px-fontSize) / 16 * 100%);
  --global-fontSize-xs: 0.78947368rem;
  --global-fontSize-s: 0.875rem;
  --global-fontSize: 1rem;

  --global-fontSize-m: calc(var(--global-fontSize) * var(--global-scale-ratio));
  --global-fontSize-l: calc(var(--global-fontSize-m) * var(--global-scale-ratio));
  --global-fontSize-xl: calc(var(--global-fontSize-l) * var(--global-scale-ratio));
  --global-fontSize-xxl: calc(var(--global-fontSize-xl) * var(--global-scale-ratio));
  --global-fontSize-xxxl: calc(var(--global-fontSize-xxl) * var(--global-scale-ratio));

  /* Baseline */

  --global-px-baseline: 5;
  --global-baseline: calc(var(--global-px-baseline) / var(--global-px-fontSize) * 1rem);
  /* --global-baseline: 0.3125rem; */

  --global-whitespace-0: calc(var(--global-baseline) / 2);
  --global-whitespace-1: calc(var(--global-baseline) * 1);
  --global-whitespace-2: calc(var(--global-baseline) * 2);
  --global-whitespace-3: calc(var(--global-baseline) * 3);
  --global-whitespace-4: calc(var(--global-baseline) * 4);
  --global-whitespace-5: calc(var(--global-baseline) * 5);
  --global-whitespace-6: calc(var(--global-baseline) * 6);
  --global-whitespace-7: calc(var(--global-baseline) * 7);
  --global-whitespace-8: calc(var(--global-baseline) * 8);
  --global-whitespace-9: calc(var(--global-baseline) * 9);
  --global-whitespace-10: calc(var(--global-baseline) * 10);

  --global-whitespace-base: var(--global-whitespace-5);
  --global-whitespace-double: calc(var(--global-whitespace-base) * 2);

  /* Layout */
  --global-content-maxWidth: 37rem;

}

@media (prefers-color-scheme: dark) {
  :root {
    --global-color-primary-lightness: 69%;
    --global-color-neutral-500: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 51.75%);
    --global-link-decoration-color: var(--global-color-neutral-400);
    --global-backgroundColor: var(--global-color-neutral-900);
    --global-surfaceColor: var(--global-color-neutral-800);
    --global-heading-color: var(--global-color-neutral-100);
    --global-border-color: var(--global-color-neutral-700);
    --global-border-color-hard: var(--global-color-neutral-600);
  }
}

@media (min-width: 42em) {
  :root {
    --global-px-fontSize: 19;
    --global-px-baseline: 6;
  }
}

/* 
  Elements: Page
  ---
  Global page styles
*/

html {
  --page-inner-whitespace: clamp(var(--global-whitespace-5), -1rem + 10vw, var(--global-whitespace-10));
  padding: var(--global-whitespace-base) 0;
  font-family: var(--global-fontFamily);
  font-size: var(--global-root-fontSize);
  font-feature-settings: 'liga', 'dlig', 'lnum';
  font-feature-settings: 'ss05';
  line-height: calc(var(--global-baseline) * 5);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--html-backroundColor, var(--global-backgroundColor));
  color: var(--global-text-color);  
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;     
}

::selection {
  background-color: var(--global-selection-backgroundColor);
  color: var(--global-selection-color);
  text-shadow: none;
}

/*
  Elements: Typography
  ---
  Default markup for typographic elements
*/

h1,
h2,
h3,
h4 {
  color: var(--global-heading-color);
  font-weight: var(--global-heading-fontWeight);
}

h1,
.h1 {
  font-family: var(--global-heading-fontFamily);
  font-size: var(--global-fontSize-l);
  line-height: calc(var(--global-baseline) * 6);
}

h2,
.h2 {
  font-size: var(--global-fontSize-m);
  font-family: var(--global-heading-fontFamily);
  line-height: calc(var(--global-baseline) * 5);
}

h3,
.h3 {
  letter-spacing: 0;
  font-size: var(--global-fontSize-base);
  line-height: calc(var(--global-baseline) * 5);
}

h4,
.h4 {
  letter-spacing: 0;
  font-size: var(--global-fontSize-base);
  line-height: calc(var(--global-baseline) * 5);
}

a {
  color: var(--link-color, var(--global-link-color));
  will-change: color;
  transition: color .1s ease-out;
  display: inline-block;
  text-decoration-color: var(--link-decoration-color, var(--global-link-decoration-color));
  text-decoration-thickness: 0.0675em;
}

a:visited {
  color: var(--link-color, var(--global-link-color));
}

a:hover {
  color: var(--link-hover-color, var(--global-link-hover-color));
  text-decoration-color: var(--link-hover-color, var(--global-link-hover-color));
}

a:focus {
  outline: thin dotted;
  color: var(--link-hover-color, var(--global-link-hover-color));
}

a:hover,
a:active {
  outline: 0;
}

pre,
code {
  font-family: var(--global-code-fontFamily);
  font-size: var(--global-fontSize-s);
  font-size: .85rem;
  line-height: calc(var(--global-baseline) * 4.5); 
  border-radius: var(--global-border-radius-1); 
}

pre {
  padding: var(--global-whitespace-base);
  background-color: var(--global-color-neutral-800);
  overflow: auto;  
}

pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}

pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  display: block;
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--global-border-color);
}

/*
  Objects: List reset
  ---
  Small reusable class to reset any list
*/

.list-reset {
  list-style: none;
  padding-left: 0;
}

/* 
  Object: Row
  ---
  Creates a horizontal row with whitespace inside
*/

.row {
  display: flow-root;
  padding: var(--global-whitespace-base) var(--page-inner-whitespace);
}

.row--divider {
  border-top: 1px solid var(--global-border-color);
  margin-top: var(--global-whitespace-base);
  padding-top: var(--global-whitespace-double);
}

.row--lg {
  margin-top: var(--global-whitespace-base);
  padding-top: var(--global-whitespace-double);
}

/*
  Object: Container
*/

.container {
  max-width: var(--global-content-maxWidth);
  margin: auto;  
}

.container--header {
  border-bottom: 1px solid var(--global-border-color);
  padding-bottom: calc(var(--global-whitespace-base) / 2);
}

/*
  Object: flex
*/

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-items-baseline {
  align-items: baseline;
}

.direction-row-reverse {
  flex-direction: row-reverse;
}

.column-gap-base {
  column-gap: var(--global-whitespace-base);
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

@media screen and (min-width: 42em) {
  .flex-bp2 {
    display: flex;
  }
}

.block {
  display: block;
}

.inline {
  display: inline;
}

/*
  Components: Logo
  ---
  Brand image/logo
*/

.logo {
  color: var(--logo-color, var(--global-heading-color));
  font-size: 1rem;
  line-height: var(--global-whitespace-5);  
}

.logo__link {
  text-decoration: none;
}

/* 
  Component: Intro
*/

.intro {
  min-height: calc(50vh - var(--global-whitespace-base) * 4 - var(--page-inner-whitespace));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: var(--intro-backgroundColor, hsla(var(--global-color-primary-hsl),.25));
  border-radius: var(--global-border-radius-1); */
}

.intro-top {
  min-height: calc(50vh - var(--global-whitespace-base) * 4);
}

/*
    Components: Avatar
    ---
    Avatar picture
*/

.avatar {
  --c-avatar-dimension: calc(var(--global-whitespace-base) * 6);
  --c-avatar-border: 1px;
  --c-avatar-border-color: var(--global-border-color);
  position: relative;
  width: var(--c-avatar-dimension);
  border-radius: 0 0 var(--c-avatar-dimension) var(--c-avatar-dimension);
  overflow: hidden;    
}
 
.avatar:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--c-avatar-dimension);
  width: var(--c-avatar-dimension);
  border-radius: 100%;
  box-shadow: inset 0 0 0 var(--c-avatar-border) var(--c-avatar-border-color);
}

.avatar img {
  position: relative;
  width: calc(var(--c-avatar-dimension) - calc(var(--c-avatar-border) * 2));
  margin-bottom: var(--c-avatar-border);
  margin-left: var(--c-avatar-border);
  margin-right: var(--c-avatar-border);
  border-radius: 0 0 var(--c-avatar-dimension) var(--c-avatar-dimension);
  filter: grayscale(100%) sepia(5%) hue-rotate(var(--global-color-primary-hue)) contrast(120%);    
}

/*
    Components: About
    ---
    About section
*/

.about {
    display: grid;
    grid-gap: var(--global-whitespace-base);
    grid-template-columns: auto 1fr;
    align-items: center;
}

.about__title {
  font-size: 1rem;
  font-weight: normal;
  font-family: var(--global-fontFamily);
}

.about__title,
.about__paragraph {
  display: inline;
}

@media (max-width: 32.75em) {
  .about .avatar {
    display: none;
  }
}

/*
  Utility: color
*/

.color-meta {
  color: var(--global-meta-color);  
}

.link-current {
  --link-color: var(--global-meta-color);
  --link-decoration-color: var(--link-color);
  /* text-decoration: none; */
  /* background-color: hsla(var(--global-color-primary-hue), var(--global-neutral-saturation), 50%, .2);
  padding: 0 .5em;
  border-radius: var(--global-border-radius-1);
  margin-left: -.5em; */
}

.link-current::before {
  /* content: "•"; */
  text-decoration: none;
  display: inline-block;
  width: calc(var(--global-whitespace-base) / 2);
  margin-left: calc(var(--global-whitespace-base) / 2 * -1);
  animation: 1s ease 0s infinite alternate none running blinking;
  /* transition: 1s ease; */
  opacity: 0;
  /* color: var(--global-color-primary); */

  /* content: "";
  display: inline-block;
  width: var(--global-whitespace-1);
  height: var(--global-whitespace-1);
  margin-left: calc(var(--global-whitespace-1) * -2);
  border-radius: 100%;
  border: 1px solid currentColor;
  background-color: currentColor; */
}

.link-current:hover::before {
  animation-play-state: paused;
  /* animation:;
  opacity: 1; */
}

.link-decoration-none {
  text-decoration: none;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
  Utility: text
*/

.text-code {
  font-family: var(--global-code-fontFamily);
}

.text-serif {
  font-family: var(--global-serif-fontFamily);
}

.text-italic {
  font-style: italic;
}

.text-date {
  font-feature-settings: 'zero', 'tnum';
}

.text-s {
  font-size: var(--global-fontSize-s);
}

.text-xs {
  font-size: var(--global-fontSize-xs);
  line-height: calc(4 * var(--global-baseline));
}

.text-center {
  text-align: center;
}

/* 
  utitlity: font-weight
*/

.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

/* 
  utility: spacing
*/

.mb-clear {
  margin-bottom: 0;
}

.mb-base {
  margin-bottom: var(--global-whitespace-base);
}

.mb-1 {
  margin-bottom: var(--global-whitespace-1);
}

.mb-2 {
  margin-bottom: var(--global-whitespace-2);
}

.mb-3 {
  margin-bottom: var(--global-whitespace-3);
}

.mb-double {
  margin-bottom: var(--global-whitespace-double);
}

.mt-1 {
  margin-top: var(--global-whitespace-1);
}

.mt-2 {
  margin-top: var(--global-whitespace-2);
}

.mt-3 {
  margin-top: var(--global-whitespace-3);
}

.mt-4 {
  margin-top: var(--global-whitespace-4);
}

.mt-base {
  margin-top: var(--global-whitespace-base);
}

.mt-double {
  margin-top: var(--global-whitespace-double);
}

@media screen and (min-width: 42em) {
  .mb-clear-bp2 {
    margin-bottom: 0;
  }

  .mt-clear-bp2 {
    margin-top: 0;
  }
}

.pt-double {
  padding-top: var(--global-whitespace-double);
}

.pt-clear {
  padding-top: 0;
}

.pb-clear {
  padding-bottom: 0;
}

/* 
  Scoping: Content
  ---
  Specific styles for elements inside .content
*/

.flow > * + * {
  margin-top: var(--global-whitespace-base);
}

.flow > * + h2,
.flow > * + hr {
  margin-top: calc(var(--global-whitespace-base) * 2)
}
/* 
.flow > h3 + * {
  margin-top: var(--global-whitespace-s);
  margin-top: 0;
} */

/* 
  Plugin: Zola code highlighting
  ---
  Specific styles for code highlighting snippets
*/

.z-code {
  --z-punctuation-color: var(--global-color-neutral-400);
  /* --z-punctuation-color: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 55%); */
  --z-code-color: var(--global-color-neutral-100);
  --z-comment-color: var(--global-meta-color);
  /* --z-comment-color: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 40%); */
  /* --z-comment-color: var(--global-color-neutral-600); */
  color: var(--z-punctuation-color);
}

.z-selector,
.z-property-value,
.z-property-name,
.z-custom-property,
.z-keyword,
.z-variable,
.z-constant {
  color: var(--z-code-color);
}

.z-var {
  color: var(--z-punctuation-color);
}

.z-comment {
  color: var(--z-comment-color);
  font-style: italic;
}

