/*
  Generic: Reset
  ---
  Custom reset
*/

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  Elements: Fonts
  ---
  Font-face declarations
*/

@font-face {
    font-family: 'Allrounder Grotesk web';
    src: url('../fonts/AllrounderGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/AllrounderGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Allrounder Grotesk web';
    src: url('../fonts/AllrounderGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/AllrounderGrotesk-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Atlas Typewriter web';
    src: url('../fonts/AtlasTypewriter-Regular-Web.woff2') format('woff2'),
    url('../fonts/AtlasTypewriter-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik web';
    src: url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik web';
    src: url('../fonts/Graphik-Semibold-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Semibold-Web.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Condensed web';
    src: url('../fonts/GraphikCondensed-Semibold-Web.woff2') format('woff2'),
    url('../fonts/GraphikCondensed-Semibold-Web.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Compact web';
    src: url('../fonts/GraphikCompact-Semibold-Web.woff2') format('woff2'),
    url('../fonts/GraphikCompact-Semibold-Web.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

/*
  Elements: Theme
  ---
  Global variable declarations
*/

:root {
  /* Colors */

  --global-color-primary-hue: 252deg;
  --global-color-primary-saturation: 80%;
  --global-color-primary-lightness: 67%;
  --global-color-primary-hsl: var(--global-color-primary-hue), var(--global-color-primary-saturation), var(--global-color-primary-lightness);
  --global-color-primary: hsl(var(--global-color-primary-hsl));    

  --global-neutral-hue: var(--global-color-primary-hue);
  --global-neutral-saturation: 3%;

  --global-color-neutral-100: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 97%);
  --global-color-neutral-200: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 93%);
  --global-color-neutral-300: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 87%);
  --global-color-neutral-400: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 65%);
  --global-color-neutral-500: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 43.75%);
  --global-color-neutral-600: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 30%);
  --global-color-neutral-700: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 20%);
  --global-color-neutral-800: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 15%);
  --global-color-neutral-900: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 10%);

  --global-backgroundColor: var(--global-color-neutral-100);
  --global-surfaceColor: var(--global-color-neutral-100);
  --global-heading-color: var(--global-color-neutral-900);
  --global-meta-color: var(--global-color-neutral-500);
  --global-border-color: var(--global-color-neutral-300);
  --global-border-color-hard: var(--global-color-neutral-400);
  --global-text-color: var(--global-color-neutral-700);
  --global-link-color: var(--global-heading-color);
  --global-link-decoration-color: var(--global-meta-color);
  --global-link-hover-color: var(--global-meta-color);
  --global-selection-backgroundColor: var(--global-text-color);
  --global-selection-color: var(--global-backgroundColor);
  --global-scrollbar-thumb-color: var(--global-meta-color);
  --global-scrollbar-track-color: var(--global-backgroundColor);

  /* Typography */

  /* --global-fontFamily: "Allrounder Grotesk web", sans-serif; */
  /* --global-fontFamily: "acumin-pro", sans-serif;
  --global-title-fontFamily: "acumin-pro-extra-condensed", sans-serif; */
  --global-fontFamily: "Graphik web", sans-serif;
  --global-title-fontFamily: "Graphik Condensed web", sans-serif;
  /* --global-title-fontFamily: "Asgard Fit Fat web", sans-serif; */
  /* --global-code-fontFamily: "Atlas Typewriter web"; */
  --global-code-fontFamily: SFMono-Regular, 'Roboto Mono', Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
  'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --global-scale-ratio: 1.25;
  --global-root-fontSize: 100%;
  --global-fontSize-s: 0.875rem;
  --global-fontSize: 1rem;

  --global-fontSize-m: calc(var(--global-fontSize) * var(--global-scale-ratio));
  --global-fontSize-l: calc(var(--global-fontSize-m) * var(--global-scale-ratio));
  --global-fontSize-xl: calc(var(--global-fontSize-l) * var(--global-scale-ratio));
  --global-fontSize-xxl: calc(var(--global-fontSize-xl) * var(--global-scale-ratio));
  --global-fontSize-xxxl: calc(var(--global-fontSize-xxl) * var(--global-scale-ratio));
  --global-fontSize-xxxxl: calc(var(--global-fontSize-xxxl) * var(--global-scale-ratio));
  --global-fontSize-xxxxxl: calc(var(--global-fontSize-xxxxl) * var(--global-scale-ratio));
  --global-fontSize-xxxxxxl: calc(var(--global-fontSize-xxxxxl) * var(--global-scale-ratio));

  /* Baseline */

  --global-baseline: 0.3125rem;

  --global-whitespace-0: calc(var(--global-baseline) / 2);
  --global-whitespace-1: calc(var(--global-baseline) * 1);
  --global-whitespace-2: calc(var(--global-baseline) * 2);
  --global-whitespace-3: calc(var(--global-baseline) * 3);
  --global-whitespace-4: calc(var(--global-baseline) * 4);
  --global-whitespace-5: calc(var(--global-baseline) * 5);
  --global-whitespace-6: calc(var(--global-baseline) * 6);
  --global-whitespace-7: calc(var(--global-baseline) * 7);
  --global-whitespace-8: calc(var(--global-baseline) * 8);
  --global-whitespace-9: calc(var(--global-baseline) * 9);
  --global-whitespace-10: calc(var(--global-baseline) * 10);

  --global-whitespace-base: var(--global-whitespace-5);
  --global-whitespace-double: calc(var(--global-whitespace-base) * 2);

  /* Layout */
  --global-content-maxWidth: 36rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --global-color-neutral-500: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 51.675%);
    --global-link-decoration-color: var(--global-color-neutral-400);
    --global-backgroundColor: var(--global-color-neutral-900);
    --global-surfaceColor: var(--global-color-neutral-900);
    --global-heading-color: var(--global-color-neutral-100);
    --global-text-color: var(--global-color-neutral-100);
    --global-border-color: var(--global-color-neutral-700);
    --global-border-color-hard: var(--global-color-neutral-600);
  }
}

@media (min-width: 40rem) {
  :root {
    --global-baseline: .3rem;
    --global-root-fontSize: 125%;
  }
}

/* 
  Elements: Page
  ---
  Global page styles
*/

html {
  --page-inner-whitespace: clamp(var(--global-whitespace-base), -1rem + 10vw, var(--global-whitespace-double));
  font-family: var(--global-fontFamily);
  font-size: var(--global-root-fontSize);
  font-feature-settings: 'liga', 'dlig', 'lnum';  
  background-color: var(--html-backgroundColor, var(--global-backgroundColor));
  color: var(--global-text-color);  
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50vh;
  height: calc(100vh / 3 * 2);
  /* min-height: calc(100vh - var(--global-whitespace-base) * 2); */
  background-attachment: fixed;
  background-color: var(--html-before-backgroundColor);
  /* background: conic-gradient(from -90deg at 50% 50%, var(--html-before-backgroundColor), hsl(var(--html-before-background-gradient-color1-hsl)), hsl(var(--html-before-background-gradient-color2-hsl)));   */
  background-image: 
    radial-gradient(
      circle at 0% 100%, 
      hsl(var(--html-before-background-gradient-color1-hsl)), hsl(var(--html-before-background-gradient-color1-hsl) / 0%)
    ),
    radial-gradient(
      circle at 100% 0%, 
      hsl(var(--html-before-background-gradient-color2-hsl)), hsl(var(--html-before-background-gradient-color2-hsl) / 0%)
    )
  ; 
  z-index: -1;
  opacity: var(--html-before-opacity);
}

body {  
  line-height: calc(var(--global-baseline) * 5);
}

::selection {
  background-color: var(--global-selection-backgroundColor);
  color: var(--global-selection-color);
  text-shadow: none;
}

/*
  Elements: Typography
  ---
  Default markup for typographic elements
*/

h1,
h2,
h3,
h4 {
  color: var(--global-heading-color);
}

h1,
.h1 {
  letter-spacing: -0.02em;  
  /* font-size: var(--global-fontSize-l);
  line-height: calc(var(--global-baseline) * 6); */
  /* font-size: var(--global-fontSize-xxl);
  line-height: calc(var(--global-baseline) * 10); */
  font-family: var(--global-title-fontFamily);
  /* font-size: var(--global-fontSize-xxxl); */
  /* font-weight: 600; */
  /* font-weight: 500; */
  font-weight: 400;
  /* font-weight: 300; */
  /* line-height: calc(var(--global-baseline) * 13); */
  /* font-size: 6rem; */
  /* font-size: var(--global-fontSize-xxxxxl); */
  /* font-size: var(--global-fontSize-xxxxl); */
  /* line-height: calc(var(--global-baseline) * 18); */
  font-size: clamp(var(--global-fontSize-xxxxl), 2.9000rem + 4.7500vw, var(--global-fontSize-xxxxxl));
  /* font-size: clamp(var(--global-fontSize-xxxxl), 2.7625rem + 8.8333vw, var(--global-fontSize-xxxxxxl)); */
  /* font-size: clamp(var(--global-fontSize-xxxxxl), 2.7625rem + 18.8333vw, 12rem); */
  line-height: 1;
}

h2,
.h2 {
  /* font-family: var(--global-title-fontFamily); */
  /* font-family: var(--global-title-fontFamily); */
  font-size: var(--global-fontSize-m);
  font-weight: 600;
  /* font-size: var(--global-fontSize-base); */
  line-height: calc(var(--global-baseline) * 5);
}

h3,
.h3 {
  letter-spacing: 0;
  font-size: var(--global-fontSize-base);
  line-height: calc(var(--global-baseline) * 5);
}

h4,
.h4 {
  letter-spacing: 0;
  font-size: var(--global-fontSize-base);
  line-height: calc(var(--global-baseline) * 5);
}

a {
  color: var(--link-color, var(--global-link-color));
  will-change: color;
  transition: color .1s ease-out;
  display: inline-block;
  text-decoration-color: var(--link-decoration-color, var(--global-link-decoration-color));
  text-decoration-thickness: 0.0675em;
}

a:visited {
  color: var(--link-color, var(--global-link-color));
}

a:hover {
  color: var(--link-hover-color, var(--global-link-hover-color));
  text-decoration-color: var(--link-hover-color, var(--global-link-hover-color));
}

a:focus {
  outline: thin dotted;
  color: var(--link-hover-color, var(--global-link-hover-color));
}

a:hover,
a:active {
  outline: 0;
}

pre,
code {
  font-family: var(--global-code-fontFamily);
  font-size: var(--global-fontSize-s);
  font-size: .85rem;
  line-height: calc(calc(var(--global-baseline-multiplier) - 1) * var(--global-baseline));  
}

pre {
  padding: var(--global-whitespace-base);
  background-color: var(--global-color-neutral-800);
  overflow: auto;  
}

pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}

pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  display: block;
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

/*
  Objects: List reset
  ---
  Small reusable class to reset any list
*/

.list-reset {
  list-style: none;
  padding-left: 0;
}

/* 
  Object: Row
  ---
  Creates a horizontal row with whitespace inside
*/

.row {
  display: flow-root;
  padding: var(--global-whitespace-base) var(--page-inner-whitespace);
}

.row--intro {
  /* border-bottom: 1px solid var(--global-border-color); */
  padding-bottom: var(--global-whitespace-double);
  padding-top: var(--global-whitespace-double);
  /* margin-bottom: var(--global-whitespace-base); */
  /* background-color: slateblue; */
  /* color: white; */
}

.row--header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: var(--html-before-backgroundColor); */
}

.row--surface {
  background-color: var(--global-surfaceColor);
}

/*
  Object: Container
*/

.container {
  max-width: var(--global-content-maxWidth);
  margin: auto;  
}

.container--wide {
  max-width: calc(var(--global-content-maxWidth) * 3);
}

/*
  Object: flex
*/

.flex {
  display: flex;
}

@media screen and (min-width: 48em) {
  .flex-bp2 {
    display: flex;
  }
}

/*
  Utilities: grid and flex container properties
*/

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-items-baseline {
  align-items: baseline;
}

.direction-row-reverse {
  flex-direction: row-reverse;
}

.column-gap-base {
  column-gap: var(--global-whitespace-base);
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

/*
  Utility: block
*/

.block {
  display: block;
}

/* 
  Component: Header
*/

.header {
  display: grid;
  grid-template-columns: minmax(max-content,1fr) minmax(auto,var(--global-content-maxWidth)) 1fr;
}

.header__meta {
  color: var(--header__meta-color, var(--global-meta-color));
}

.header__logo a {
  color: var(--header__logo-color, var(--global-link-color));  
  text-decoration-color: var(--header__logo-decoration-color, var(--global-link-decoration-color));
}

/* 
  Component: Intro
*/

.intro {
  display: grid;
  grid-template-columns: 1fr minmax(auto,var(--global-content-maxWidth)) 1fr;
  min-height: calc(100vh / 3 * 2 - var(--global-whitespace-base) * 7);
  /* min-height: calc(50vh - var(--global-whitespace-base) * 7); */
  /* min-height: calc(100vh - var(--global-whitespace-base) * 9); */
  /* min-height: calc(100vh - var(--global-whitespace-base) * 10); */
}

.intro__title {
  color: var(--intro__title-color, var(--global-heading-color));
  grid-column: span 2;
  /* font-weight: 300; */
}

.intro-top {
  min-height: calc(50vh - var(--page-inner-whitespace) - var(--global-whitespace-base) * 2);
}

/*
  Utility: color
*/

.color-meta {
  color: var(--global-meta-color);  
}

/*
  Utility: text
*/

.text-date {
  /* font-feature-settings: 'zero', 'tnum'; */
  font-family: var(--global-code-fontFamily);
}

.text-s {
  font-size: var(--global-fontSize-s);
  line-height: calc(calc(var(--global-baseline-multiplier) - .5) * var(--global-baseline));
}

/* 
  utitlity: font-weight
*/

.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

/* 
  utility: spacing
*/

.mb-base {
  margin-bottom: var(--global-whitespace-base);
}

.mb-double {
  margin-bottom: var(--global-whitespace-double);
}

.mt-base {
  margin-top: var(--global-whitespace-base);
}

.mt-double {
  margin-top: var(--global-whitespace-double);
}

@media screen and (min-width: 48em) {
  .mb-clear-bp2 {
    margin-bottom: 0;
  }

  .mt-clear-bp2 {
    margin-top: 0;
  }
}

.pt-double {
  padding-top: var(--global-whitespace-double);
}

.pt-clear {
  padding-top: 0;
}

.pb-clear {
  padding-bottom: 0;
}

.inline {
  display: inline;
}

/* 
  Scoping: Content
  ---
  Specific styles for elements inside .content
*/

.flow > * + * {
  margin-top: var(--global-whitespace-base);
}

.flow > * + h2 {
  margin-top: calc(var(--global-whitespace-base) * 2)
}

/* .flow > h3 + * {
  margin-top: var(--global-whitespace-s);
  margin-top: 0;
} */

/* 
  Plugin: Zola code highlighting
  ---
  Specific styles for code highlighting snippets
*/

.z-code {
  --z-punctuation-color: var(--global-color-neutral-400);
  --z-code-color: var(--global-color-neutral-100);
  --z-comment-color: var(--global-meta-color);

  color: var(--z-punctuation-color);
}

.z-selector,
.z-property-value,
.z-property-name,
.z-custom-property,
.z-keyword,
.z-variable,
.z-constant {
  color: var(--z-code-color);
}

.z-var {
  color: var(--z-punctuation-color);
}

.z-comment {
  color: var(--z-comment-color);
}

