{% macro about() %}
<div class="about">
    <div class="about__content flow">
        <h2>Hi, I'm Simon.</h2>
        <p>
            I'm a designer writing about HTML &amp; CSS,
            Javascript, typography and animation.
            Currently teaching these topics at <a href="https://mct.be">MCT</a> &amp;
            <a href="https://devine.be">Devine</a>. Send me an
            <a href="mailto:coudeville.simon@gmail.com">email</a> or follow me on
            <a href="https://twitter.com/simoncoudeville">Twitter</a>.
        </p>
    </div>

    <figure class="avatar">
        <img src="/img/test-avatar-3.png" alt="Avatar" />
    </figure>
</div>
{% endmacro about %}