{% macro about() %}
<div class="about">
    <div class="about__content flow">
        {# <h2>Hi, I'm Simon.</h2> #}
        <h2>About me</h2>
        <p>
            {# My name is Simon. I'm a designer from Bruges, Belgium. Currently teaching HTML &amp; CSS and User
            Interface design
            I'm a designer and teacher into HTML &amp; CSS, javascript and typography. #}
            My name is Simon. I'm a designer and teacher from Belgium. I specialise in responsive web design, HTML
            and CSS.
            Currently teaching these subjects at <a href="https://mct.be">MCT</a> and
            <a href="https://www.devine.be/en/">Devine</a>.
            Find me on <a href="https://twitter.com/simoncoudeville">Twitter</a> and <a
                href="https://codepen.io/simoncoudeville/">Codepen</a>.
        </p>
    </div>
    <!-- <img src="https://www.datocms-assets.com/49382/1638788001-employee-avatarfilipe.svg" alt=""> -->
    <figure class="avatar">
        <img src="/img/test-avatar-3.png" alt="Avatar" />
    </figure>
</div>
{% endmacro about %}