<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {% block content %} {% endblock %}
    {# <nav class="row row--footer">
        <div class="container">
            <div class="flow">
                <h2 class="h3">
                    Navigation
                </h2>
                <p class="color-meta text-s">
                    &copy; {{ now() | date(format="%Y") }}
                    {{ config.title }}
                </p>
                <ul class="list-reset flex column-gap-base text-s">
                    <li>
                        <a href="/">Index</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/colophon">Colophon</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> #}
    <footer class="row row--lg pb-clear">
        <div class="container">
            <div class="flex align-items-baseline column-gap-base justify-space-between">
                <!-- <p aria-hidden="true">
                    S&#x0306;
                </p> -->
                <p class="color-meta">
                    &copy; {{ now() | date(format="%Y") }}
                    {{ config.title }}
                </p>
                <!-- <p class="color-meta text-date">
                    &copy; 2022
                </p> -->
            </div>
        </div>
    </footer>

</html>