{% extends "base.html" %}

{% import "macros/about.html" as about %}

{% block content %}
<main>
    {% set pages = section.pages %}
    {% for page in pages | slice(end=1) %}
    <header class="row">
        <div class="container">
            <div class="intro intro-top">
                <!-- <img src="https://johannesklingebiel.de/img/2021-07-27-teaser.png" alt="" class="intro__img"> -->
                <!-- <p class="color-meta text-s">
                                {{ page.date | date(format=config.extra.blog_date_format) }}
                            </p> -->
                <h1><a class="link-decoration-none" href="{{ page.permalink }}">{{ page.title }}</a></h1>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="container">
            <div class="flow article">
                {{ page.content | safe }}
                <p class="color-meta">
                    Published {{ page.date | date(format=config.extra.blog_date_format) }}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    {#
    {% block pagination %}
    {% if paginator.previous or paginator.next %}
    <nav class="row" role="pagination">
        <div class="container">
            {% if paginator.previous %}
            <a class="newer-posts" href="{{ paginator.previous }}"><span aria-hidden="true">&larr;</span> Newer
                Posts</a>
            {% endif %}
            <span class="page-number">Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
            {% if paginator.next %}
            <a class="older-posts" href="{{ paginator.next }}">Older Posts <span aria-hidden="true">&rarr;</span></a>
            {% endif %}
        </div>

    </nav>
    {% endif %}
    {% endblock pagination %}
    #}

    <aside class="row row--lg">
        <div class="container">
            {% block about %}
            {{ about::about() }}
            {% endblock about%}
        </div>
    </aside>
    <section class="row">
        <div class="container flow">
            <h2>
                All articles
            </h2>
            <ul class="list-reset">
                {% set section_all = get_section(path="_index.md") %}
                {% for post in section_all.pages %}
                {% for page in pages | slice(end=1) %}
                {% set this_page = page %}
                <li
                    class="flex-bp2 align-items-baseline direction-row-reverse column-gap-base justify-space-between mt-base mt-clear-bp2">
                    <span class="block color-meta text-date">{{ post.date |
                        date(format=config.extra.blog_date_format)
                        }}</span>
                    {% if post.title is matching(this_page.title) %}
                    <a class="link-current" href="{{ post.permalink | safe }}">{{ post.title }}</a>
                    {% else %}
                    <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
                    {% endif %}
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </section>
</main>

{% endblock content %}